@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Geist Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(@fontsource-variable/geist/files/geist-latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
@font-face {
  font-family: 'Geist Mono Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(@fontsource-variable/geist-mono/files/geist-mono-latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 49 38% 98%;
    --foreground: 49 76% 0%;
    --muted: 49 7% 88%;
    --muted-foreground: 49 14% 32%;
    --popover: 49 38% 98%;
    --popover-foreground: 49 76% 0%;
    --card: 49 38% 97%;
    --card-foreground: 0 0% 0%;
    --border: 49 15% 93%;
    --input: 49 15% 93%;
    --primary: 49 72% 83%;
    --primary-foreground: 49 72% 3%;
    --secondary: 49 14% 80%;
    --secondary-foreground: 49 14% 20%;
    --accent: 49 19% 70%;
    --accent-foreground: 49 19% 10%;
    --destructive: 10 85% 33%;
    --destructive-foreground: 10 85% 93%;
    --ring: 49 72% 83%;
    --chart-1: 49 72% 83%;
    --chart-2: 49 14% 80%;
    --chart-3: 49 19% 70%;
    --chart-4: 49 14% 83%;
    --chart-5: 49 75% 83%;
    --radius: 0.5rem;
    --sidebar-background: 49 38% 98%;
    --sidebar-foreground: 49 76% 10%;
    --sidebar-primary: 49 72% 83%;
    --sidebar-primary-foreground:49 72% 3%;
    --sidebar-accent: 49 19% 70%;
    --sidebar-accent-foreground: 49 19% 10%;
    --sidebar-border: 49 15% 93%;
    --sidebar-ring: 49 72% 83%;
  }

  .dark {
    --background: 49 33% 0%;
    --foreground: 49 18% 99%;
    --muted: 49 7% 12%;
    --muted-foreground: 49 14% 68%;
    --popover: 49 33% 0%;
    --popover-foreground: 49 18% 99%;
    --card: 0 0% 1%;
    --card-foreground: 0 0% 100%;
    --border: 49 15% 14%;
    --input: 49 15% 14%;
    --primary: 49 72% 83%;
    --primary-foreground: 49 72% 3%;
    --secondary: 49 13% 8%;
    --secondary-foreground: 49 13% 68%;
    --accent: 49 21% 17%;
    --accent-foreground: 49 21% 77%;
    --destructive: 10 85% 56%;
    --destructive-foreground: 0 0% 100%;
    --ring: 49 72% 83%;
    --chart-1: 49 72% 83%;
    --chart-2: 49 13% 8%;
    --chart-3: 49 21% 17%;
    --chart-4: 49 13% 11%;
    --chart-5: 49 75% 83%;
    --sidebar-background: 49 33% 3%;
    --sidebar-foreground: 49 18% 99%;
    --sidebar-primary: 49 72% 83%;
    --sidebar-primary-foreground: 49 72% 3%;
    --sidebar-accent: 49 21% 17%;
    --sidebar-accent-foreground: 49 21% 77%;
    --sidebar-border: 49 15% 14%;
    --sidebar-ring: 49 72% 83%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
/* --sidebar-background: 0 0% 98%;
--sidebar-foreground: 240 5.3% 26.1%;
--sidebar-primary: 240 5.9% 10%;
--sidebar-primary-foreground: 0 0% 98%;
--sidebar-accent: 240 4.8% 95.9%;
--sidebar-accent-foreground: 240 5.9% 10%;
--sidebar-border: 220 13% 91%;
--sidebar-ring: 217.2 91.2% 59.8%; */

/* --sidebar-background: 240 5.9% 10%;
--sidebar-foreground: 240 4.8% 95.9%;
--sidebar-primary: 224.3 76.3% 48%;
--sidebar-primary-foreground: 0 0% 100%;
--sidebar-accent: 240 3.7% 15.9%;
--sidebar-accent-foreground: 240 4.8% 95.9%;
--sidebar-border: 240 3.7% 15.9%;
--sidebar-ring: 217.2 91.2% 59.8%; */